
body {
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.timer-input-element {
    border: none;
    width: 60px;
    margin: 0px 40px;
    padding: 75px 10px;
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid rgb(55, 183, 119);;

}

.seperator {
    color: white;
}

.timer-button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    background: black;
    color: white;
    border: 1px solid rgb(55, 183, 119);
    font-size: 24px;
    margin: 0px 10px;
    transition: border, 1.125;
}

.timer-button:hover {
    border: 1px solid white;
}

.timer-input-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.time-remaining {
    font-size: 80px;
    color: white;
    text-align: end;
}